
.form-group {
    margin-bottom: 1rem;
}

.text-danger {
    font-size: 0.875rem;
    color: #dc3545;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

button[disabled] {
    background-color: #ccc;
}
