
.table th, 
.table td {
    border: 1px solid #ddd;
    text-align: center;
}

.table img {
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.action-buttons {
    position: absolute;
    top: .25rem;
    right: 6.5rem;
}
